@font-face {
    font-family: "ohSquareAir";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ohSquareAir/ohSquareAir.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ohSquareAir/ohSquareAir.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ohSquareAir/ohSquareAir.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ohSquareAir/ohSquareAir.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ohSquareAir/ohSquareAir.ttf") format("truetype");
    font-display: swap;
} 
.ohSquareAir {
    font-family: "ohSquareAir";
}